.nav{
    position: relative;
    top: 24px;
    display: flex;
    padding: 20px 20px 20px 60px;
    height: 90px;
    background-color:#FFFFFF;
}

.nav img{
    height: 75px;
    width: 145px;
}


.nav__main{
    margin-right: 510px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.nav__list{
    justify-content: flex-end;
    display: flex;
}

.nav__list-item{
    width: 100px;
    border-right: solid 1px #969595;
    display: flex;
    align-items: center;
}

.nav__list-item1{
    width: 150px;
    border-right: solid 1px #969595;
    display: flex;
    align-items: center;
}

.nav__list-item2{
    width: 250px;
    display: flex;
    align-items: center;
}

.nav__title{
    display: flex;
    justify-content: center;
    opacity: 70%;
    font-size: 14px;
}

.scroll{
    z-index: 1;
    position: fixed;
    bottom: 15px;
    right: 75px;
    color:#9E9E9E;
    width: 50px;
    height: 50px;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
}

.scroll i{
    display: flex;
    justify-content: center;
    padding-top: 18px;
}